.playback input[type="datetime-local"] {
  padding: 8px;
  width: 250px;
  display: inline-block;
  /* position: absolute; */
  vertical-align: top;
  margin-top: 7px;
}

.playback input[type="datetime-local"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.playback input[type="datetime-local"]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}

.playback h3 {
  margin: 0;
  font-size: 1.5em;
}

.playback h4 {
  margin: 0;
  margin-top: 20px;
  font-size: 1.2em;
  display: inline;
}

.playback h5 {
  margin: 0;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: normal;
}

.playback small {
  color: #777;
}

.playback hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}

.playback-popup-title.playback {
    font-size: 1.2em;
    color: #000;
}

.leaflet-popup-content.playback {
    width: 400px;
}

.leaflet-popup-content.playback > img {
    border: 1px solid #aaa;
}

a.playback-button {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #246591;
  border-color: #0099cc;
  display: inline-block;
  padding: 6px 7px;
  font-size: 14px;
  text-align: center;
  line-height: 1.428571429;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a.playback-button:hover {
  background-color: #2972A3;
}

.playback-header-paragraph  {
  margin-top: 5px;
}

.playback-popup-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

#playback-container {
  height:60%;
  position: relative;
}

#playback-loading {
  position: absolute;
  bottom: 40px;
  right: 105px;
  display: none;
}

#playback-controls {
  position: absolute;
  right: 10px;
  top: 10px;
  vertical-align: top;
  padding: 10px;
  background-color: #f7f7f7;
  display: inline-block;
    height: 130px;
}
#playback-map {
  position: relative;
  vertical-align: top;
  height: 100%;
  width: 100%;
  display: inline-block;
}

#playback-error {
  margin-top: 20px;
  color: #cc0000;
}

/* INPUT RANGE */

.playback input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 73%;
}

.playback input[type=range].vertical {

  width: 40px;

  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);

    display: inline-block;
}

.playback input[type=range]:focus {
  outline: none;
}
.playback input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.playback input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.playback input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
.playback input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.playback input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.playback input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.playback input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.playback input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.playback input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.playback input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.playback input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* PLAY/PAUSE icons */

.playback.play-container {
  display: inline-block;
  width: 60px;
  height: 50px;
  position: relative;
  vertical-align: top;
  margin-top: -3px;
}

.playback.play, .playback.pause {
   
   width: 30px;
   height: 30px;

}

.playback.play:before {
  width: 0;
  height: 0;
  border-left: 20px solid #246591;
  border-right: 44px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  content: "";
  top: 10px;
  left: 25px;
}

.playback.pause:before {
  width: 7px;
  height: 35px;
  background: #246591;
  position: absolute;
  content: "";
  top: 10px;
  left: 20px;
}

.playback.pause:after {
  width: 7px;
  height: 35px;
  background: #246591;
  position: absolute;
  content: "";
  top: 10px;
  left: 45px;
}
