.user-left-menu {
  position: relative;
  width: 24.5%;
  padding: 18px;
  height: 100%;
  background-color: #454854;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.user-left-menu img {
  width: 100%;
}
.user-left-menu img.smart-logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
}
.user-left-menu .red {
  color: red !important;
}
.user-left-menu .green {
  color: green !important;
}
.content-wrapper {
  display: inline-block;
  vertical-align: top;
  background-color: #f2f5f8;
  height: 100%;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.content-wrapper .live-component {
  position: relative;
}
.content-wrapper .live-component .content-header {
  position: absolute;
  top: 0;
  right: 2px;
}
.content-wrapper .current-device {
  font-size: 15px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.content-wrapper .current-device .device-title:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  padding-top: 0px;
  background-color: grey;
  position: relative;
  left: -2px;
  top: 1px;
}
.content-wrapper .current-device.online .device-title:before {
  background-color: green;
}
.content-wrapper .current-device.offline .device-title:before {
  background-color: red;
}
.content-wrapper .current-device .live-status.online {
  color: greenyellow !important;
}
.content-wrapper .current-device .live-status.offline {
  color: red !important;
}
.content-wrapper .current-device,
.content-wrapper .device-title,
.content-wrapper .live-status {
  display: inline-block;
  vertical-align: top;
}
table tr > td button:not(:first-child) {
  margin-left: -10px;
}
table i {
  display: inline-block;
  margin-right: 10px;
}
table .fa:before {
  font-size: 22px;
}
table .table-header th {
  text-align: center;
}
.full-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}
.live-camera {
  white-space: nowrap;
}
.live-camera .gmap {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}
.live-camera .gmap .not-found {
  padding-top: 13px;
}
.live-camera .gmap .translation-status {
  position: absolute;
  top: 2px;
  right: 3px;
  line-height: 1;
  font-size: 13px;
  color: blue;
  text-align: right;
}
.live-camera .gmap .translation-status .status {
  color: #454854;
}
.live-camera .first-block {
  vertical-align: top;
  display: inline-block;
  width: 72.4%;
}
.live-camera .first-block img,
.live-camera .first-block video {
  width: 100%;
  height: 100%;
}
.live-camera .second-block {
  display: inline-block;
  width: 27.6%;
}
.live-camera .second-block .live-component {
  width: 100%;
}
.live-camera .second-block .live-component {
  height: 161px;
}
.live-camera .second-block .live-component img {
  height: 100%;
}
.live-camera .second-block img,
.live-camera .second-block .gmap,
.live-camera .second-block video {
  display: block;
  width: 100%;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
.container,
#zcamera {
  height: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
#checkmateContent {
  margin: 0;
}
i.fa {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.arrow-deviceList {
  background: rgba(255, 255, 255, 0.5) url('https://68751a494a89ee970b9be293b04fac7c1c061c82-www.googledrive.com/host/0BzXepDfY8_buQ1pWZlhkRF9MYzQ/arroww.png') no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#playback-upper-section table {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}
#playback-upper-section th,
#playback-upper-section td {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
}
.leaflet-top {
  top: 50px;
}
.glyphicon-repeat,
.glyphicon-play-circle {
  display: none;
}
.glyphicon-play {
  display: block;
}
@media screen and (min-width: 1366px) {
  .glyphicon-repeat,
  .glyphicon-play-circle {
    display: none !important;
  }
  .glyphicon-play {
    display: block !important;
  }
}
@media screen and (min-width: 1650px) {
  .glyphicon-repeat,
  .glyphicon-play-circle {
    display: inline !important;
  }
  .glyphicon-play {
    display: none !important;
  }
}
.event-in-popup {
  cursor: pointer;
}
